<div id="dashboard">
  <app-dashboard-item>
    <ng-container header>
      <img src="assets/status.png" alt="A signal symbol" />
      <h2>Server Status</h2>
    </ng-container>
    <app-server-status></app-server-status>
  </app-dashboard-item>

  <app-dashboard-item>
    <ng-container header>
      <img src="assets/globe.png" alt="A globe" />
      <h2>Traffic</h2>
    </ng-container>
    <app-traffic></app-traffic>
  </app-dashboard-item>

  <app-dashboard-item>
    <ng-container header>
      <img src="assets/list.png" alt="A list of items" />
      <h2>Support Tickets</h2>
    </ng-container>
    <app-tickets></app-tickets>
  </app-dashboard-item>
</div>
